<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="MyconnectionString" connectionString="Data Source=192.168.1.171,1433;Initial Catalog=carshop_db;User Id=User2;
Password=19940506;"/>
  </connectionStrings>
</configuration>
